<!DOCTYPE html>
<html>
  <head>
    <title>WyattElevator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Wyatt Elevator | Expert Elevator Installation & Maintenance in Philadelphia, PA" />
    <meta property="og:description" content="Trusted elevator company in Philadelphia, PA, providing top-quality installation, maintenance, and repair services for residential and commercial properties. Experience exceptional customer service and ensure the safety and efficiency of your elevators with our expert team." />
    <meta property="og:image" content="https://wyatt-elevator.s3.amazonaws.com/wyattOg.png" />
    <meta property="og:url" content="https://wwww.wyattelevator.com" />
    <meta property="og:type" content="website" />
    <%= favicon_link_tag 'favicon.ico' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY']%>&libraries=places"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SPMGLLSQKL"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-SPMGLLSQKL');
    </script>
  </head>

  <body>
      <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
